# Public restore starter for the April 14 OANDA freeze
OANDA_ENVIRONMENT=practice
OANDA_BASE_URL=https://api-fxpractice.oanda.com
OANDA_ACCOUNT_ID=REPLACE_WITH_YOUR_OANDA_ACCOUNT_ID
OANDA_API_TOKEN=REPLACE_WITH_YOUR_OANDA_API_TOKEN
OANDA_TOKEN=REPLACE_WITH_YOUR_OANDA_API_TOKEN
OANDA_ENV=practice
OANDA_MODE=practice
RBOT_PRACTICE_ONLY=1
RBOT_ALLOW_LIVE=0
RBOT_REQUIRE_OCO=1
RBOT_ACTIVE_SNAPSHOT_LABEL=OANDA_GREEN_DAY_LOCK_CONTINUOUS_20260414
RBOT_ACTIVE_PROFILE_LABEL=practice_green_day_lock_continuous
RBOT_BASE_UNITS=50000
RBOT_MAX_NOTIONAL_USD=100000
RBOT_CHARTER_TARGET_NOTIONAL_USD=100000
RBOT_CHARTER_MIN_NOTIONAL_USD=25000
RBOT_CHOP_MODE_ENABLED=true
RBOT_CHOP_START_HOUR=17
RBOT_CHOP_END_HOUR=3
RBOT_CHOP_UNITS=25000
RBOT_CHOP_MAX_POSITIONS=2
RBOT_MIN_SIGNAL_CONFIDENCE=0.80
RBOT_MIN_VOTES=3
RBOT_SL_PIPS=12.6
RBOT_TP_PIPS=36
RBOT_PROFIT_HARVESTER_ENABLED=true
RBOT_PROFIT_TARGET_PCT=0
RBOT_RECOVERY_HEDGE_ENABLED=false
